/*
  Fixed width fonts for mail texts.
  */

/* Long lines hurt my eyes. */
.ii {
    max-width: 650px;
    line-height: 20px;
}

div, textarea {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}

