/* For gnu.com, gnu.org and delorie.com which also often shows up in search
results. */
body {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    font-family: Georgia;
    font-size: 18px;
    line-height: 26px;
}
