/*
  This style is based on the "Georgify for Hacker News (Solarized)
  theme I found on userstyles.org.
 */
@charset "utf-8";

center {
    text-align: left;
}

body {
    background-color: #fdf6e3;
    margin: 0px;
}

table {  
    background-color: #fdf6e3 !important;   
}
tbody tr td {
    background-color: #fdf6e3!important;
}

span.pagetop {
    color: #93a1a1 !important; 
    padding-bottom: 30px !important; 
    font-family: Georgia, Times, serif!important; 
    font-size: 18px !important;
    line-height: 10px !important;
}

span.pagetop a:link, span.pagetop a:visited {
    font-family: Georgia, Times, serif!important;
    font-size: 20px! important;
    color:#93a1a1!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    margin-bottom: 10px!important;
    padding-bottom: 4px!important;
    font-weight: normal!important;
    border-bottom: 0px dotted #fff!important; 
}

span.pagetop a:hover, span.pagetop a:active {
    font-family:Georgia, Times, serif!important;
    font-size: 20px !important;
    color: #cb4b16 !important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    margin-bottom: 10px!important;
    padding-bottom: 4px!important;
    font-weight: normal!important;
    border-bottom: 0px dotted #cb4b16!important; 
}

/* Make the home link big and easy to click on. */
span.pagetop a[href="news"] {
    font-size: 36px !important;
    font-weight: bold !important;
}

body  { 
    font-family:Georgia, Times, serif !important; 
    font-size: 18px !important; 
    color: #657b83 !important; 
}

td { 
    font-family: Georgia, Times, serif!important; 
    font-size: 18px!important; 
    color: #555 !important; 
    padding: 3px!important; 
    line-height: 24px;
}

.admin td   { font-family:Georgia, Times, serif!important; font-size:8.5pt!important; color:#657b83!important; }
td.subtext { 
  font-family:Georgia, Times, serif!important; 
  font-size:  18px!important; 
  color: #999999!important;
  border-bottom: 1px dotted #ddd!important ; 
}

form {
	margin-bottom: 0px!important;
}

input    { font-family:Georgia, Times, serif!important; font-size:15px!important; color:#657b83!important; padding: 8px 8px 8px 8px!important;
background-color: #fdf6e3!important;
color: #333!important;
width: auto!important;
font-family: Georgia, Times, serif!important;
font-size: 15px!important;
border: 1px solid #ccc!important;
-moz-border-radius: 4px!important;
-webkit-border-radius: 4px!important;
border-radius: 4px!important;}

input[type="text"]    { font-family:Georgia, Times, serif!important; font-size:15px!important; color:#657b83!important; padding: 8px 8px 8px 8px!important;
background-color: #fdf6e3!important;
color: #333!important;
width: auto!important;
font-family: Georgia, Times, serif!important;
font-size: 15px!important;
border: 1px solid #ccc!important;
-moz-border-radius: 4px!important;
-webkit-border-radius: 4px!important;
border-radius: 4px!important;}

input[type="submit"] { font-family:Georgia, Times, serif!important; color:#657b83!important; padding: 8px 8px 8px 8px!important;
background-color: #cb4b16!important;
color: #fff!important;
width: auto!important;
font-family: Georgia, Times, serif!important;
font-size: 13px!important;
border: 1px solid #cb4b16!important;
-moz-border-radius: 4px!important;
-webkit-border-radius: 4px!important;
border-radius: 4px!important;
cursor: pointer!important;}

textarea {
    font-family: Consolas, monospace !important;
    font-size: 15px !important;
    color: #000 !important;
    column-span: 200px!important;
    border: 1px solid #ccc!important;
    -moz-border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    border-radius: 4px!important;
    width: 660px!important; 
}

a:link    { color:#cb4b16!important; text-decoration:none!important; border-bottom: 1px dotted #fff!important; }

a:hover, a:active    { color:#cb4b16!important; text-decoration:none!important; border-bottom: 1px dotted #cb4b16!important; }

a:visited { color:#aaaaaa!important; text-decoration:none!important; border-bottom: 1px dotted #fff}

.default {
    font-family:Georgia, Times, serif!important;
    font-size: 12pt!important;
    color:#999999!important;
    /*border-bottom: 1px dotted #ccc!important;*/
    padding: 0px!important;
    border-left: 1px dotted #ccc !important;
    padding-left: 5px !important;
}

pre {
    overflow: auto!important;
    padding: 2px!important;
    font-size: 14px !important;
    font-family: Consolas, monospace !important;
}
pre:hover {overflow:auto!important;}



.admin   { font-family:Georgia, Times, serif!important; font-size:8.5pt!important; color:#657b83!important; }
.title   { font-family:Georgia, Times, serif!important; font-size: 12pt!important; color:#999999!important; padding-top: 12px!important; font-weight: normal!important;}

.title a:link {
    font-weight: normal!important;
    font-family:Georgia, Times, serif!important;
    font-size: 14pt !important;
    color:#000 !important;
    margin-right: 6px;
}

.title a:hover, .title a:active {
	border-bottom: 1px dotted #cb4b16!important;
}
.title a:visited { color:#aaaaaa; border-bottom:1px dotted #fff;}

.adtitle { font-family:Georgia, Times, serif!important; font-size:  9pt!important; color:#999999!important; }


.yclinks { font-family:Georgia, Times, serif!important; font-size:  8pt!important; color:#999999!important;  padding-top: 15px!important; }

.yclinks a:link, .yclinks a:visited {
	color:  #bbb!important; padding-left: 5px!important; padding-right: 5px!important; font-weight: normal!important; border-bottom: none!important;
}

.yclinks a:hover, .yclinks a:active {color:  #cb4b16!important; padding-left: 5px!important; padding-right: 5px!important; font-weight: normal!important; border-bottom: none!important;}



.pagetop { font-family:Georgia, Times, serif!important; font-size: 12pt!important; color:#657b83!important; }
.comhead {
    font-family:Georgia, Times, serif!important;
    font-size:  16px !important;
    color:#888888!important;
}

.comment { 
    color:  #657b83!important;
    font-family:Georgia, Times, serif!important; 
    font-size:  18px !important; 
    line-height: 27px!important; 
    padding-top: 10px!important; 
}

.dead    { font-family:Georgia, Times, serif!important; font-size:  9pt!important; color:#dddddd!important; }
i {
	font-style: italic!important;
}

u {
	text-decoration: none!important; border-bottom: 1px dotted #cb4b16!important; font-size: 12px!important; margin-top: -10px!important;
}




.comment a:link, .comment a:visited  { color: #cb4b16!important; border-bottom: 1px dotted #fff!important; font-weight:normal!important;}

.comment a:hover, .comment a:active {color: #cb4b16!important; border-bottom: 1px dotted #cb4b16!important; font-weight:normal!important;}

.dead a:link, .dead a:visited { color:#93a1a1!important; }
.pagetop a:visited { color:#657b83!important;}
.topsel a:link, .topsel a:visited { color:#ffffff!important; }


.subtext { font-family:Georgia, Times, serif!important; font-size:  8pt!important; color:#999999!important; padding-bottom:20px!important; font-style: italic!important; }

.subtext a:link {
	padding-left:2px!important ; padding-right:4px!important; color: #cb4b16!important ; font-weight: normal!important; border-bottom: 1px dotted #fff!important;
}

.subtext a:hover, .subtext a:active { text-decoration:none!important; border-bottom: 1px dotted #cb4b16!important;}

.subtext a:visited { padding-left:2px!important ; padding-right:4px!important; color: #cb4b16!important ; font-weight: normal!important; border-bottom: 1px dotted #fff; }

.comhead a:link  { padding-left:2px!important ; padding-right:4px!important; color: #cb4b16!important ; font-weight: normal!important; border-bottom: 1px dotted #fff!important; }

.comhead a:hover, .comhead a:active  { padding-left:2px!important; padding-right:4px!important; color: #cb4b16!important ; font-weight: normal!important; text-decoration:none!important; border-bottom: 1px dotted #cb4b16!important; }

.default p {
    margin-top: 2px!important;
    margin-bottom: 0px!important;
    padding-bottom: 5px;
    padding-top: 15px!important;
    text-rendering:optimizeLegibility!important; 
}



.pagebreak {page-break-before:always!important;}


body center > table > tbody > tr:first-child > td,
body center > table > tbody > tr:first-child > td > table, 
body center > table > tbody > tr:first-child > td > table > tbody > tr > td { 
    background-color: #002b36!important;
    height: 50px;
}

/* This makes comment threading stand out more. */
img[width="40"] {
  width: 60px !important;
  height: 1px;
}
img[width="80"] {
  width: 120px !important;
  height: 1px;
}
img[width="120"] {
  width: 160px !important;
  height: 1px;
}
img[width="160"] {
  width: 240px !important;
  height: 1px;
}
img[width="200"] {
  width: 300px !important;
  height: 1px;
}
img[width="240"] {
  width: 360px !important;
  height: 1px;
}
img[width="280"] {
  width: 420px !important;
  height: 1px;
}
img[width="320"] {
  width: 480px !important;
  height: 1px;
}
img[width="360"] {
  width: 540px !important;
  height: 1px;
}
img[width="400"] {
  width: 600px !important;
  height: 1px;
}
img[width="440"] {
  width: 660px !important;
  height: 1px;
}
/* Nobdy needs threading deeper than this. */
img[width="480"] {
    width: 720px !important;
    height: 1px;
}

/* Top bar should fill whole screen. */
table[width="85%"] {
    width: 100% !important;  
}

/* Upvote arrows should be bigger. I don't care that it looks ugly -
   they need to be big enough so I don't forget to upvote great
   content. */
img[src="http://ycombinator.com/images/grayarrow.gif"] {
    width: 20px !important;
    height: 20px !important;
    background-color: #666;
}

/* Intended to limit the width of Ask HN questions. */
body center table tbody tr td table[border="0"]:nth-of-type(1) tbody tr td,
/* fixed-width code */
pre,
/* comment boxes. */
.comment
{
    max-width: 700px !important;
}
.comment {
    display: block !important;
}
