/* I don't always visit Phoronix, but when I do, I get so annoyed
  about their horrible typography that I have to create a userstyle!
  */
.KonaBody, #phxcms_content_center {
    font-size: 20px;
    font-family: Georgia, Times, serif;
    line-height: 28px;
}

#phxcms_content_center {
    max-width: 1500px;
}
