/* Works on stackoverflow.com, politics.stackexchange.com */
/* I prefer the Georgia font for reading. */
#question-header h1 a.question-hyperlink {
    font-size: 28px;
    line-height: 34px;
}
.post-text p, .post-text ol li, .post-text ul li {
    font-size: 20px;
    line-height: 29px;
}
.summary h3,
.post-text p,
#question-header h1 a,
.question-status p,
.question-status h2, .post-text ol li, .post-text ul li
{
    font-family: Georgia, Times, serif;
}

/* This removes the annoying share-nag block. */
h2.bottom-notice {
    display: none;
}
